

.main {
  min-height: 100vh; 
  margin: .5rem 0 2rem 0;
}

.main > hr{
  border: 0;
  height: 1px; /* Ajusta la altura según tus preferencias */
  background: linear-gradient(to right, #f0c9c9, #888, #ccc);
}

.messageHeroWrapper{
  position: relative;
  margin-top: 5rem;
}

.messageHero{
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 77%;
  margin: 0 auto;
  max-height: 338px;
  /* background-color: red; */
}

.messageHero > h1{
  font-size: 5.31rem;
  font-weight: bold;
  color: #3BCAEB;
}

.asideContentMessage{
  /* background-color: green; */
  color: #4F3B3C;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: .7rem; */
}

.asideContentMessage > h3{
  font-size: 1.75rem;
}

.asideContentMessage > p{
  font-size: 1.25rem;
}

.asideContentMessage > p > span{
  color: #EB347A;
}